<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Michael's Website</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/election.css">
</head>

<body>
  <div class="flex-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">HOME</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a href="/">ELECTIONS</a>
          </li>
          <li class="nav-item">
            <a href="/submit">NOMINATE</a>
          </li>
          <li class="nav-item last-nav-item">
            <a href="https://moshuimusic.github.io/Moshui/">MOSHUI MUSIC</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="container main">
