</section>
<section id="footer">
  <div>
    <a href="https://www.instagram.com/michaelmoshui">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://www.engineering.utoronto.ca/">
      <i class="fas fa-school fa-2x"></i>
    </a>
    <p>Michael's Website</p>
  </div>
</section>
</div>

<script src="https://kit.fontawesome.com/4919595660.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/index.js" charset="utf-8"></script>
<script src="/election.js" charset="utf-8"></script>
</body>

</html>
